@model UploadMusic.Models.ResetPasswordModel
@{
    Layout = null;
    ViewBag.Title = "Reset Password";
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Register Yourself with Pixthon | Pixthon Ebook</title>
    <meta name="description" content=" If you are a professional photographer register with Pixthon. Increase your visibility & network. Register Now!">
    <meta name="keyword" content="Online photobook, Photo Album, Wedding album design, Wedding album, Album design, Photo print online, Photo album online, photo book, photo book printing">

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="~/Content/PhotographerProfile/stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/PhotographerProfile/stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="~/Content/PhotographerProfile/stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="~/Content/PhotographerProfile/stylesheets/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/PhotographerProfile/stylesheets/animate.css">
    <link href="~/Content/sweetalert.min.css" rel="stylesheet" />
    <!-- Favicon and touch icons  -->
    <link href="~/Content/PhotographerProfile/images/logo.png" rel="shortcut icon" style="width:16px;height:16px;">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="header-sticky page-loading">


    <!-- Boxed -->
    <div class="boxed">
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="flat-address">
                            <div class="custom-info">
                                <span style="font-size:14px;">Welcome To Pixthon Photographers Profile</span>
                            </div>
                        </div>
                        <!-- /.flat-address -->
                    </div>
                    <!-- /.col-md-8 -->
                    <div class="col-md-5">
                        <div class="social-links">
                            <i class="fa fa-reply"></i> sales@pixthon.com
                            <i class="fa fa-phone"></i>  +91 7039851605
                            &nbsp; <a href="https://www.facebook.com/Pixthoncom-339936090122683/" target="_blank">
                                <i class="fa fa-facebook-official"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/pixthon-digital-solutions-pvt-ltd/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://www.instagram.com/pixthondigitalsolutions/" target="_blank">
                                <i class="fa fa-instagram" style="background-color:lightseagreen"></i>
                            </a>
                        </div>

                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.top -->
        <!-- Header -->
        <header id="header" class="header clearfix">
            <div class="header-wrap clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="logo" class="logo">
                                <a href="http://pixthon.com/">
                                    <img src="~/Content/PhotographerProfile/images/logo.png" alt="images" style="height:50px;">
                                </a>
                            </div>

                        </div>

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.header-inner -->
        </header>
        <!-- /.header -->
        <div class="flat-row pad-bottom20px">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6" style="border:2px solid #efefef;padding:30px;padding-top:1px;">
                        <center><h2>Reset Password</h2></center>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">

                                <div id="ShowAlert" class="alert alert-danger background-danger" style="display:none">
                                    <span class="closeBtn" onclick="closeAlertEnquiry(); return false">&times;</span>
                                    <strong>!</strong>
                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password", required = "required", @maxlength = "40" } })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password", required = "required", @maxlength = "40" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.HiddenFor(a => a.ResetCode)
                                </div>
                                <div class="form-group">
                                    <center>
                                        <span class="form-submit">
                                            <input type="button" value="Reset Password" class="btn btn-default" onclick="resetpassword()" />
                                        </span>
                                        <div id="divLoader" style="display:none;">
                                            <img src="~/Images/ajax-loader.gif" alt="Loader" />
                                        </div>
                                    </center>
                                </div>
                            </div>

                        }


                    </div>

                    <div class="col-md-3">

                    </div>
                </div>

            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget widget_text">
                                <div class="textwidget">
                                    <p style="text-align:justify;">Pixthon is one stop solutions for the photography and customisaton products . We are always happy to help in the best possible way.</p>
                                    <p style="text-align:justify;">Be it photo books, album designing or website designing, Pixthon has everything sorted for you.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget widget_nav_menu">
                                <div class="menu-footer-menu-container">
                                    <ul class="ft-menu">
                                        <li><a href=@Url.Action("Index","PhotographerProfile")>View Photobook</li>
                                        <li><a href=@Url.Action("Register","Login")>Registration</a></li>
                                        <li><a href=@Url.Action("Index","Login")>Log In</a></li>
                                        <li><a href=@Url.Action("Contact","Home")>Contact Us</a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget widget_mc4wp_form_widget">
                                <address class="location">
                                    <i class="fa fa-map-marker"></i> <b>Pixthon Digital Solutions Pvt Ltd.</b><br>
                                    Plot No. 39/3, 16th Floor/1605,<br>
                                    Haware Infotech Park, Sector 30A,<br>
                                    Vashi, Navi Mumbai,<br>
                                    Maharashtra-400703
                                </address>
                                <i class="fa fa-phone"></i> <b>+91 7039851605</b> <br>
                                <i class="fa fa-envelope"></i><b> sales@pixthon.com</b>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="social-links">

                                <a href="https://www.facebook.com/Pixthoncom-339936090122683/" target="_blank">
                                    <i class="fa fa-facebook-official"></i>
                                </a>
                                <a href="https://www.linkedin.com/company/pixthon-digital-solutions-pvt-ltd/" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="https://www.instagram.com/pixthondigitalsolutions/" target="_blank">
                                    <i class="fa fa-instagram" style="background-color:lightseagreen"></i>
                                </a>
                            </div>
                        </div><!-- /.col-md-12 -->
                        <div class="col-md-12">
                            <div class="copyright">
                                <div class="copyright-content">
                                    © 2020 | Design By <a href="#">Pixthon</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->
        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-chevron-up"></i>
        </a>
        <!-- Go Top -->


    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/jquery-validate.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/gmap3.min.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/parallax.js"></script>
    <!-- <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/switcher.js"></script> -->
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/smoothscroll.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/main.js"></script>
    <script src="~/Content/js/sweetalert.min.js"></script>

    <script>
        $(document).ready(function () {
            //#region Session Timeout

            //$.sessionTimeout({
            //     custom warning message
            //    message: 'Your session is about to expire.',

            //     keep alive url
            //    keepAliveUrl: '/Admin/AdminPage',

            //     request type
            //    keepAliveAjaxRequestType: 'POST',

            //     redirect url
            //    redirUrl: '/Login/Index',

            //     logout url
            //    logoutUrl: '/Login/Index',

            //     25 minutes
            //    warnAfter: 1500000,

            //     30 minutes
            //    redirAfter: 1800000,

            //     appends time stamp to keep alive url to prevent caching
            //    appendTime: true
            //});

            //#endregion
        })
        function resetpassword() {
            
                var fileData = new FormData();

                var isvalid = Validation();
                if (isvalid == false) {
                    return;
                }
            if ($('#NewPassword').val() != $('#ConfirmPassword').val()) {
                ShowAlertEnquiry('Password and Confirm Password should be same');
                return;
            }
                $('#divLoader').show();

            var email = $('#ResetCode').val();
            fileData.append('ResetCode', email);
            var password = $('#NewPassword').val();
            fileData.append('NewPassword', password);
            var repassword = $('#ConfirmPassword').val();
            fileData.append('ConfirmPassword', repassword);

                for (var key of fileData.entries()) {
                    console.log(key[0] + ',' + key[1])
            }
            var headers = { __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };
            $.ajax({
                type: "POST",
                headers: headers,
                url: window.location.protocol + "//" + window.location.host + "/ForgotPassword/ResetPassword",
                data: "{ResetCode: '" + $('#ResetCode').val()+"',NewPassword:'" + $('#NewPassword').val() + "',ConfirmPassword:'" + $('#ConfirmPassword').val() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#divLoader').hide();
                    console.log(result.result);
                    //alert("Success", result);
                    if (result.result == "Redirect") {

                        window.location.href = result.url
                    } else if (result.result == "Error") {
                        swal("Failed", "Passsword Reset Failed", "error")

                    }
                },
                error: function (result) {
                    $('#divLoader').hide();
                    //alert("Error", status);
                    swal("Try Again!", "Error Occured While Password Reset!", "error");
                }
            });

                //$.ajax({
                //    type: "POST",
                //    url: "/ForgotPassword/ResetPassword",
                //    dataType: "json",
                //    contentType: 'application/json; charset=utf-8',
                //    //contentType: false, // Not to set any content header
                //    //processData: false, // Not to process data
                //    data: "{ResetCode: '" + $('#ResetCode').val() + "',NewPassword:'" + $('#NewPassword').val() + "',ConfirmPassword:'" + $('#ConfirmPassword').val() + "'}",
                //    //data: fileData,
                //    success: function (result, status, xhr) {
                //        $('#divLoader').hide();
                //        console.log(result.result);
                //        //alert("Success", result);
                //        if (result.result == "Redirect") {
                            
                //            window.location.href = result.url
                //        } else if (result.result == "Error") {
                //           swal("Failed","Passsword Reset Failed","error")

                //        }
                //    },
                //    error: function (xhr, status, error) {
                //        $('#divLoader').hide();
                //        //alert("Error", status);
                //        swal("Try Again!", "Error Occured While Password Reset!", "error");
                //    }
                //});

            
        }

        function ShowAlertEnquiry(msg_body) {
            var AlertMsg = $('#ShowAlert');
            $(AlertMsg).find('strong').html(msg_body);
            $(AlertMsg).show();
            $('#ShowAlert').alert();
        }

        function closeAlertEnquiry() {
            document.getElementById('ShowAlert').style.display = "none";
        }

        function Validation() {
            
           
            var msg = "";
            var serialno = 0;
            
            
            if ($("#NewPassword").val() == "") {
                serialno++;
                msg += '\n' + serialno + '. ' + 'Please enter New Password';

            }
            if ($("#ConfirmPassword").val() == "") {
                serialno++;
                msg += '\n' + serialno + '. ' + 'Please Confirm Password';

            }
           


            if (serialno != 0) {
                swal("Error", 'Please Fill the Required Details:' + msg, "error");
                return false;
            }

        }
        //#region Disable Console

        $(window).on('keydown', function (event) {
            if (event.keyCode == 123) {
                //alert('Entered F12');
                return false;
            }
            else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
                //alert('Entered ctrl+shift+i')
                return false;  //Prevent from ctrl+shift+i
            }
            else if (event.ctrlKey && event.keyCode == 73) {
                //alert('Entered ctrl+shift+i')
                return false;  //Prevent from ctrl+shift+i
            }
        });

        $(document).on("contextmenu", function (e) {
            //alert('Right Click Not Allowed')
            e.preventDefault();
        });
        //#endregion
    </script>

</body>
</html>


