@model UploadMusic.Models.ChangePasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Photographer Profile | Change Password </title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="~/Content/PhotographerProfile/stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/PhotographerProfile/stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="~/Content/PhotographerProfile/stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="~/Content/PhotographerProfile/stylesheets/colors/color1.css" id="colors">
    <!-- Session Timeout -->

    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/jquery-idle-hands.css" rel="stylesheet" />

    <!-- Session Timeout -->
    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/PhotographerProfile/stylesheets/animate.css">
    <link href="~/Content/sweetalert.min.css" rel="stylesheet" />
    <!-- Favicon and touch icons  -->
    <link href="~/Content/PhotographerProfile/images/logo.png" rel="shortcut icon" style="width:16px;height:16px;">


    <!-- Session Timeout  -->
    <link href="~/Content/jquery-ui-1.11.css" rel="stylesheet" />


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="header-sticky page-loading">


    <!-- Boxed -->
    <div class="boxed">
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="flat-address">
                            <div class="custom-info">
                                <span style="font-size:14px;">Welcome To Pixthon Photographers Profile</span>
                            </div>
                        </div>
                        <!-- /.flat-address -->
                    </div>
                    <!-- /.col-md-8 -->
                    <div class="col-md-6">
                        <div class="social-links">
                            <i class="fa fa-reply"></i> sales@pixthon.com
                            <i class="fa fa-phone"></i>  +91 7039851605
                            &nbsp; <a href="https://www.facebook.com/Pixthoncom-339936090122683/" target="_blank">
                                <i class="fa fa-facebook-official"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/pixthon-digital-solutions-pvt-ltd/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://www.instagram.com/pixthondigitalsolutions/" target="_blank">
                                <i class="fa fa-instagram" style="background-color:lightseagreen"></i>
                            </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="dropdown">
                                    <button class="dropbtn">@User.Identity.Name</button>
                                    <div class="dropdown-content">
                                        @if (User.IsInRole("Admin") || User.IsInRole("NonVerifiedPhotographer") || User.IsInRole("VerifiedPhotographer") || User.IsInRole("SuperAdmin"))
                                        {
                                            <a href="@Url.Action("Logout", "Login")" onclick="Signout()">Logout</a>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="dropdown">
                                    <button class="dropbtn">Account</button>
                                    <div class="dropdown-content">

                                        <a href="@Url.Action("Index","Login")">Login</a>
                                        <a href="@Url.Action("Register","Login")">Register</a>

                                    </div>
                                </div>
                            }
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- /.top -->
        <!-- Header -->
        <header id="header" class="header clearfix">
            <div class="header-wrap clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="logo" class="logo">
                                <a href="http://pixthon.com/">
                                    <img src="~/Content/PhotographerProfile/images/logo.png" alt="images" style="height:50px;">
                                </a>
                            </div>

                        </div>

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.header-inner -->
        </header>
        <!-- /.header -->

        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Admin") || User.IsInRole("NonVerifiedPhotographer") || User.IsInRole("VerifiedPhotographer") || User.IsInRole("SuperAdmin"))
            {
                <div class="flat-row pad-bottom20px">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6" style="border:2px solid #efefef;padding:30px;padding-top:1px;">
                                <center><h2>Create New Password</h2></center>
                                <form id="contactform" method="post" action="">
                                    <div class="row">
                                        <div class="col-md-8" style="width:100%;">
                                            <div id="ShowAlert" class="alert alert-danger background-danger" style="display:none">
                                                <span class="closeBtn" onclick="closeAlertEnquiry(); return false">&times;</span>
                                                <strong>!</strong>
                                            </div>
                                            <span><input id="oldpass" name="pwd" type="password" value="" placeholder="Old Password" required="required" maxlength="40"></span>
                                            <span><input id="newpass" name="newpwd" type="password" value="" placeholder="New Password" required="required" maxlength="40"></span>
                                            <span><input id="repass" name="confirmpwd" type="password" value="" placeholder="Confirm Password" required="required" maxlength="40"></span>
                                        </div>

                                    </div>
                                </form>


                                <br><br>
                                <center>
                                    <span class="form-submit">
                                        <input name="submit" type="submit" id="submit" class="submit" value="SUBMIT" onclick="OnSubmit()">

                                    </span>
                                    <div id="divLoader" style="display:none;">
                                        <img src="~/Images/ajax-loader.gif" alt="Loader" />
                                    </div>
                                </center>
                            </div>

                            <div class="col-md-3">

                            </div>
                        </div>

                    </div>
                </div>
            }
        }

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget widget_text">
                                <div class="textwidget">
                                    <p style="text-align:justify;">Pixthon is one stop solutions for the photography and customisaton products . We are always happy to help in the best possible way.</p>
                                    <p style="text-align:justify;">Be it photo books, album designing or website designing, Pixthon has everything sorted for you.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget widget_nav_menu">
                                <div class="menu-footer-menu-container">
                                    <ul class="ft-menu">
                                        <li><a href=@Url.Action("Index","PhotographerProfile")>View Photobook</li>
                                        <li><a href=@Url.Action("Register","Login")>Registration</a></li>
                                        <li><a href=@Url.Action("Index","Login")>Log In</a></li>
                                        <li><a href=@Url.Action("Contact","Home")>Contact Us</a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget widget_mc4wp_form_widget">
                                <address class="location">
                                    <i class="fa fa-map-marker"></i> <b>Pixthon Digital Solutions Pvt Ltd.</b><br>
                                    Plot No. 39/3, 16th Floor/1605,<br>
                                    Haware Infotech Park, Sector 30A,<br>
                                    Vashi, Navi Mumbai,<br>
                                    Maharashtra-400703
                                </address>
                                <i class="fa fa-phone"></i> <b>+91 7039851605</b> <br>
                                <i class="fa fa-envelope"></i><b> sales@pixthon.com</b>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="social-links">

                                <a href="https://www.facebook.com/Pixthoncom-339936090122683/" target="_blank">
                                    <i class="fa fa-facebook-official"></i>
                                </a>
                                <a href="https://www.linkedin.com/company/pixthon-digital-solutions-pvt-ltd/" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="https://www.instagram.com/pixthondigitalsolutions/" target="_blank">
                                    <i class="fa fa-instagram" style="background-color:lightseagreen"></i>
                                </a>
                            </div>
                        </div><!-- /.col-md-12 -->
                        <div class="col-md-12">
                            <div class="copyright">
                                <div class="copyright-content">
                                    © 2020 | Design By <a href="#">Pixthon</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->
        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-chevron-up"></i>
        </a>
        <!-- Go Top -->


    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <!-- Session Timeout -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/basil.js/0.4.10/basil.min.js"></script>
    <script src="~/Content/js/jquery-idle-hands.js"></script>

    <!-- Session Timeout -->
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/jquery-validate.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/gmap3.min.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/parallax.js"></script>
    <!-- <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/switcher.js"></script> -->
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/smoothscroll.js"></script>
    <script type="text/javascript" src="~/Content/PhotographerProfile/javascript/main.js"></script>
    <script src="~/Content/js/sweetalert.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.sessionTimeout.js"></script>
    <script>
          $(document).ready(function () {
              if (sessionStorage.getItem('Email') == null)
              {
                            console.log('Session',sessionStorage.getItem('Email'));
                            window.location.href='@Url.Action("Index", "Login")';
              }

            console.log("ready!");
              console.log('Session', sessionStorage.getItem('Email'));
          });

        //#region Session Timeout

        $(function () {
            $.idleHands({
                //applicationId: 'my_application',
                heartRate: 5, //Keep Page Alive For The Time Before The Session Expiration Warning Dialog Appears
                inactivityDialogDuration: 300, //Time For Which Dialog Box Will Stay -300 seconds(5 Minutes)
                inactivityLogoutUrl: '/Login/Index',
                maxInactivitySeconds: 1800 //Max Idle Time - 1800 seconds=30 minutes
            });
        });


        //#endregion

        function OnSubmit() {

            var fileData = new FormData();



            var isvalid = Validation();
            if (isvalid == false) {
                return;
            }

            if ($("#newpass").val() == $("#oldpass").val()) {

                swal("Failed!",'New Password should not be same as Old Password',"error");
                return;
            }

            if ($('#newpass').val() != $('#repass').val()) {
                ShowAlertEnquiry('Password and Confirm Password should be same');
                return;
            }

            $('#divLoader').show();

            var oldpass= $('#oldpass').val();
            fileData.append('OldPassword', oldpass);
            var newpass = $('#newpass').val();
            fileData.append('NewPassword', newpass);
            var newpass = $('#repass').val();
            fileData.append('NewPassword', newpass);

            fileData.append('Email', sessionStorage.getItem('Email'));

            for (var key of fileData.entries()) {
                console.log(key[0] + ',' + key[1])
            }

            $.ajax({
                type: "POST",
                url: "/ChangePassword/ChangePassword",
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                //data: '{rating: ' + JSON.stringify(rating) + ',}'
                data: fileData,
                success: function (result, status, xhr) {
                    $('#divLoader').hide();
                    console.log(result.changePassword);
                    //alert("Success", result);
                    if (result.changePassword == "F") {
                        ShowAlertEnquiry('Incorrect Old password');
                    } else if (result.changePassword == "Y") {

                        swal("Success!", "Password Changed Successfully!", "success");
                        window.location.href = '@Url.Action("Index", "Login")';
                    } else if (result.changePassword == "Error") {

                        swal("Try Again!", "Error Occured While Changing Password!", "error");

                    }



                },
                error: function (xhr, status, error) {
                    $('#divLoader').hide();
                    //alert("Error", status);
                    swal("Try Again!", "Error Occured While Photographer Registration!", "error");
                }
            });

        }

        function ShowAlertEnquiry(msg_body) {
            var AlertMsg = $('#ShowAlert');
            $(AlertMsg).find('strong').html(msg_body);
            //$(AlertMsg).find('p').html(msg_body);
            //$(AlertMsg).removeAttr('class');
            //$(AlertMsg).addClass('alert alert-' + msg_type);
            $(AlertMsg).show();
            $('#ShowAlert').alert();
        }

        function closeAlertEnquiry() {
            document.getElementById('ShowAlert').style.display = "none";
        }
        function Validation() {

            var msg = "";
            var serialno = 0;
            if ($("#oldpass").val() == "") {
                serialno++;
                msg += '\n' + serialno + '. ' + 'Enter Old Password';

            }

            if ($("#newpass").val() == "") {
                serialno++;
                msg += '\n' + serialno + '. ' + 'Enter New Password';

            }
            if ($("#repass").val() == "") {
                serialno++;
                msg += '\n' + serialno + '. ' + 'Enter New Password to Confirm';

            }




            if (serialno != 0) {
                swal("Error", 'Please Fill the Required Details:' + msg, "error");
                return false;
            }

        }

        //#region Disable Console

        $(window).on('keydown', function (event) {
            if (event.keyCode == 123) {
                //alert('Entered F12');
                return false;
            }
            else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
                //alert('Entered ctrl+shift+i')
                return false;  //Prevent from ctrl+shift+i
            }
            else if (event.ctrlKey && event.keyCode == 73) {
                //alert('Entered ctrl+shift+i')
                return false;  //Prevent from ctrl+shift+i
            }
        });

        $(document).on("contextmenu", function (e) {
            //alert('Right Click Not Allowed')
            e.preventDefault();
        });
        //#endregion
    </script>
</body>
</html>
